#navbar{
    width: 100%;
    height: 70px;
    font-family: 'Candal', sans-serif;
    background-color: #00FFCA;
    
}

#navbar ul li{
    margin-top: 18px;
    margin-left: 5px;
    list-style-type: none;
}

#navbar ul li a{
    font-size: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: #0A4D68;
}

footer{
    
    height: 100px;
    background-color: #A0E4CB;
}

footer .center{
    font-size: 18px;
}


#navbar ul{
    margin-left: -20px;
}

#help{
    display: none;
}

.home{
    display: none;
}

#log{
    display: none;
}

#wild{
    width: 250px;
    height: 50px;
    border: 5px solid #4B5D67;
    font-size: 23px;
    margin-left: -40px;
}



#press{
    height: 50px;
    width: 70px;
    background-color: #BDF2D5;
    font-weight: bolder;
    font-size: 23px;
    color: #0A4D68;
    border: none;
    position: absolute;
    right:  37px;
}

#giga{
    width: 350px;
    height: 350px;
}

#page{
    height: 1100px;
}




#vizz{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin-top: 200px;
}


#next{
    position: relative;
    left: 120px;
    top: 20px;
    border: none;
    border-radius: 7px;
    width: 120px;
    height: 30px;
    background-color: #00FFCA;
    color: #0A4D68;
    font-size: 18px;
    font-weight: bolder;
}

#score{
    margin-top: 50px;
    width: 300px;
    height: 189px;
   
    /* box-shadow: 8px 5px 29px rgb(44, 44, 44); */
    margin-bottom: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #deeef7;
    margin-left: -20px;
}


#point{
    margin-left: 100px;
    margin-top: 10px;
    color:#394867;
    font-weight: bold;
}

#profile{
    display: flex;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 80px;
    
    height: 150px;
    width: 250px;
   
   
    font-family: 'Roboto', sans-serif;
}


#dp{
    margin-left: 15px;
    width: 60px;
    height: 60px;

    
}


#ques{
    height: 50px;
    width: 350px;
    border: 3px solid #2F0F5D;
    margin-top: 15px;
    font-size: 20px;
}

.opt{
    height: 50px;
    width: 350px;
    border: 3px solid #2F0F5D;
    margin-top: 15px;
    font-size: 20px;
}

#nxt{
    width: 150px;
    height: 30px;
    position: relative;
    top: 20px;
    left: 190px;
    background-color: #38E54D;
    border: none;
    color: white;
    font-size: 18px;
}
